body
{
    margin: 0px;
    font-family: Inter,Tahoma,Geneva,Verdana,sans-serif;
}
@media only screen and (min-width: 1200px)
{
    .header2{
        display:none;
    }
    .top2
    {
        display:none;
    }
    .top1
    {
        background-color: black;
        color: white;
        font-size: 20px;
        width: 100%;
        height: 9%;
        display: inline-flex;
        align-items:center;
        justify-content: center;
    }
    .top1 img
    {
        width: 9%;
        height: 9%;
        margin: 0px 30px;
    }
    .top1 span
    {
        margin: 0px 0px 0px 10px;
        text-decoration: underline;
    }
    .list1
    {
        display: flex;
        margin: 0px 50px;
        justify-content: space-between;
        align-items: center;
    }
    .list1 ul li
    {
        list-style-type: none;
        padding-right: 20px;
    }
    .list-header1
    {
        display: inline-flex;
        padding: 0px;
        
    }
    .list-icon1
    {
        display: inline-flex;
        align-items: center;
        padding: 0px;
    }
    .list-header1 img
    {
        width: 20px;
        height: 20px;
        background-color: white;
    }
    .list-icon1 button
    {
        background-color: black;
        border: 1px solid black;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        color:white;
        box-sizing: content-box;
    }
}
@media only screen and (max-width: 1201px) and (min-width: 756px) {
    .header1 div
    {
        display: none;
    }
    .header2 div
    {
        margin: 0px;
        padding: 8px 16px;
    }
    .top2
    {
        display: inline-flex;
        background-color: black;
        color: white;
        font-size: 20;
        width: 100%;
        height: 9%;
        align-items:center;
        justify-content: center;
    }
    .top2 img
    {
        width: 9%;
        height: 9%;
        margin: 0px 30px;
    }
    .top2 span
    {
        margin: 0px 0px 0px 10px;
        text-decoration: underline;
    }
    .list2
    {
        display: flex;
        margin: 0px 50px;
        justify-content: space-between;
        align-items: center;
    }
    .list2 ul li
    {
        list-style-type: none;
        padding-right: 20px;
    }
    .list-header2
    {
        display: inline-flex;
        padding: 0px;
        
    }
    .list-icon2
    {
        display: inline-flex;
        align-items: center;
        padding: 0px;
    }
    .list-header2 img
    {
        width: 20px;
        height: 20px;
        background-color: white;
    }
    .list-icon2 button
    {
        background-color: black;
        border: 1px solid black;
        font-weight: 10px;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        color:white;
        box-sizing: content-box;
    }
}